<section class="box centerWithFlex">
  <h1>Rick and Morty characters list:</h1>
  <app-search (search)="searchedCharacter$.next($event) "></app-search>
  <ul class="characters" *ngIf="(characters$ | async) as characters; else noCharacters">
    <li *ngFor="let character of characters">
      <app-list-item-link [character]="character"></app-list-item-link>
    </li>
  </ul>

  <ng-template #noCharacters>
    <h1>Loading characters...</h1>
  </ng-template>


  <ul class="pagesList">
    <li *ngFor="let page of allPagesArray" (click)="getPageNumber($any($event.target).innerText)">
      {{page}}</li>
  </ul>
</section>