<section class="box centerWithFlex characterDetail">
   <h1>{{characterDetail.name}}</h1>
   <img class="imgDetails" src="{{characterDetail.image}}" alt="{{characterDetail.name}}">
   <article class="centerWithFlex">
      <p><span>Gender:</span> {{characterDetail.gender}}</p>
      <p><span>Species:</span> {{characterDetail.species}}</p>
      <p><span>Status:</span> {{characterDetail.status}}</p>
      <p><span>Episodes: </span> <span
            *ngFor="let episode of characterDetail.episode">{{episode.slice(-2).replaceAll('/','')}},</span>
      </p>
   </article>


</section>